body {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
}

.subtitle {
    text-align: center;
}

.type {
    color: rgb(255, 0, 0);
}

.heart {
    color: rgb(255, 0, 0);
}

